:root{
	--mainColor:#121212;
	--secondaryColor:#181818;

	--borderColor:#282828;

	--mainText:#68da23;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#282828;


	--buttonColor:#68da23;
  --profPicColor:#68da23;


}
