:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: #F76902;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #F76902;
  --buttonColor: #F76902;
  --profPicColor: #F76902
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body *{
  transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Source Code Pro', monospace;
}

p, li, span, label, input, text, textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

u1 {
  list-style: none;
}

h1 {
  font-size: 56px;
  font-size: 4vw;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
  height: 100%;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column'
  ;
}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 5px 5px 0 0;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding:
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--profPicColor);
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
  margin: 5px;
  border: 2px solid var(--themeDotBorder);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#dark-mode {
  background-color: black;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid black;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid black;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

#about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 30px;
  padding-top: 30px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondaryColor);
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  padding-bottom: 50px;
  grid-gap: 10px;
}

.thumbnail {
  width: 100%;
  height: 180px;
  display: block;
  object-fit: cover;
  gap: 20px;
  justify-content: center;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.post-preview {
  background-color: var(--secondaryColor);
  padding: 15px;
}

.post-title {
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 16px;
}

#contact-form {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

.input-field {
  width: 100%;
  padding-top: 1-px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 5px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--profPicColor); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--profPicColor); }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column'
    ;
  }

  .right-column {
    justify-content: center;
  }
}

div.cap {
  display: block;
  height: 100px;
  width: 40px;
  background: url(http://fivera.net/wp-content/uploads/2013/08/dock-background-fivera-net.png) bottom left no-repeat;
}

div.cap.left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

div.cap.right {
  background-position: right bottom;
  position: absolute;
  top: 0px;
  right: 0px;
}

ul.osx-dock {
  display: inline-block;
  height: 130px;
  padding: 0 40px 0 0;
  background: url(http://fivera.net/wp-content/uploads/2013/08/dock-background-fivera-net.png) no-repeat right bottom;
  overflow: hidden;
  margin: 0 0 0 40px;
}

ul.osx-dock li {
  display: block;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  margin: 60px 0 4px 0;

  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  transition: 0.15s linear;

  -webkit-transition-property: -webkit-transform margin;
  -moz-transition-property: -moz-transform margin;
  -o-transition-property: -o-transform margin;
  -ms-transition-property: -ms-transform margin;
  transition-property: transform margin;
  text-align: center;
}

ul.osx-dock li a {
  display: block;
  height: 50px;
  padding: 0 1px;

  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -o-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  transition: 0.15s linear;

  -webkit-transition-property: -webkit-transform margin;
  -moz-transition-property: -moz-transform margin;
  -o-transition-property: -o-transform margin;
  -ms-transition-property: -ms-transform margin;
  transition-property: transform margin;
  margin: 0;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li a img {
  width: 48px;
}

ul.osx-dock li:hover {
  margin-left: 9px;
  margin-right: 9px;
  z-index: 200;
}

ul.osx-dock li:hover a {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;

  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

ul.osx-dock li.nearby {
  margin-left: 6px;
  margin-right: 6px;
  z-index: 100;
}

ul.osx-dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;

  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

ul.osx-dock li span {
  background: rgb(238, 238, 238);
  position: absolute;
  bottom: 80px;
  margin: 0 auto;
  display: none;
  width: auto;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 6px;
  color: rgb(0, 0, 0);
}

ul.osx-dock li:hover span {
  display: block;
}

div#dockContainer {

  bottom: 65px;
  height: 120px;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  line-height: 1;
  z-index: 100;
}

div#dockWrapper {
  width: auto;
  display: inline-block;
  position: relative;
  border-bottom: solid 2px rgba(255,255,255,.35);
  line-height: 0;
}
